%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    .field-label
      = f.label :"nickname(必須)"
    .field-input
      = f.text_field :nickname, autofocus: true
  .field
    .field-label
      = f.label :"first_name(必須)"
    .field-input
      = f.text_field :first_name, autofocus: true
  .field
    .field-label
      = f.label :"first_name_reading(必須)"
    .field-input
      = f.text_field :first_name_reading, autofocus: true
  .field
    .field-label
      = f.label :"last_name(必須)"
    .field-input
      = f.text_field :last_name, autofocus: true
  .field
    .field-label
      = f.label :"last_name_reading(必須)"
    .field-input
      = f.text_field :last_name_reading, autofocus: true
  .field
    .field-label
      = f.label :"telephone(必須)"
    .field-input
      = f.text_field :telephone, autofocus: true
  .field
    .field-label
      = f.label :"birth_year(必須)"
    .field-input
      = f.text_field :birth_year, autofocus: true
  .field
    .field-label
      = f.label :"birth_month(必須)"
    .field-input
      = f.text_field :birth_month, autofocus: true
  .field
    .field-label
      = f.label :"birth_day(必須)"
    .field-input
      = f.text_field :birth_day, autofocus: true
  .field
    .field-label
      = f.label :email
    .field-input
      = f.email_field :email
  .field
    .field-label
      = f.label :password
      %i (英数字8文字以上)
    .field-input
      = f.password_field :password, autocomplete: "off"
  .field
    .field-label
      = f.label :password_confirmation
    .field-input
      = f.password_field :password_confirmation, autocomplete: "off"
  .actions
    = f.submit "Create Account", class: 'btn'
= render "devise/shared/links"
