=render "items/header"
-# config/breadcrumbs.rbに定義したlogoutを呼び出し
- breadcrumb :like
-# 下記を記述した箇所にパンくずリストが表示される。
= render "layouts/breadcrumbs"
.mypage
  .mypage__container
    .mypage__content
      .mypage__user__icon
        %i(class="fas fa-user-circle")
        %h2.mypage__user__icon--nickname= current_user.nickname
        %h2.mypage__user__icon--status 評価0 出品数0
    .mypage__side
      %nav.mypage__nav
        %ul.mypage__nav__list
          %li.mypage__nav__list__item
            =link_to("マイページ", user_path(current_user.id))
          %li.mypage__nav__list__item
            =link_to("お知らせ", "#")
          %li.mypage__nav__list__item
            =link_to("やることリスト", "#")
          %li.mypage__nav__list__item.active
            =link_to "いいね！一覧", like_users_path
          %li.mypage__nav__list__item
            =link_to("出品する", new_item_path, data: {"turbolinks" => false})
          %li.mypage__nav__list__item
            =link_to("下書き一覧", "#")
          %li.mypage__nav__list__item
            =link_to("出品した商品-出品中", "#")
          %li.mypage__nav__list__item
            =link_to("出品した商品-取引中", "#")
          %li.mypage__nav__list__item
            =link_to("出品した商品-売却済み", "#")
          %li.mypage__nav__list__item
            =link_to("購入した商品-取引中", "#")
          %li.mypage__nav__list__item
            =link_to("出品した商品-過去の取引", "#")
          %li.mypage__nav__list__item
            =link_to("ニュース一覧", "#")
          %li.mypage__nav__list__item
            =link_to("評価一覧", "#")
          %li.mypage__nav__list__item
            =link_to("ガイド", "#")
          %li.mypage__nav__list__item
            =link_to("お問い合わせ", "#")
        %h3.mypage__nav__head
          設定
        %ul.mypage__nav__list
          %li.mypage__nav__list__item
            =link_to("プロフィール", "#")
          %li.mypage__nav__list__item
            =link_to("ユーザー登録情報変更", edit_user_registration_path)
          %li.mypage__nav__list__item
            =link_to("発送元・お届け先住所変更", "#")
          %li.mypage__nav__list__item
            =link_to("支払い情報",  cards_path)
          %li.mypage__nav__list__item
            =link_to("本人情報", "#")
          %li.mypage__nav__list__item
            = link_to "ログアウト", logout_users_path

    
    .like
      .like__content__head いいね！一覧
      %ul.like__table__list
        - @item.each do |item|
          %li.like__table__list__text
            =link_to item_path(item.id), class: "like__table__list__item" do
              %figure 
                = image_tag "#{item.item_images[0].image}", :size =>'220x200'
              .like__table__list__item__body
                = item.name
                %br
                = item.price 
                円
= render "items/footer"