.sign-in-page
  .sign-in-page__header
    .sign-in-page__header__logo
      = link_to image_tag('FURIMA-logo.svg'), '#',class: "header__img"
  .sign-in-page__form
    .field-no-account
      %p アカウントをお持ちでない方はこちら
      = link_to "新規会員登録", new_registration_path(resource_name), class: "btn-resistration"
    %p アカウントをお持ちの方はこちら
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "input-default", placeholder: "メールアドレス"
      .field
        = f.password_field :password, autocomplete: "current-password", class: "input-default",placeholder: "パスワード"
      .actions
        = f.submit "ログイン", class: 'btn-submit'
    %br/
    = link_to "パスワードをお忘れの方", new_password_path(resource_name)
  .sign-in-page__footer
    %ul
      %li プライバシーポリシー
      %li フリマ利用規約
      %li 特定商取引に関する表記
    %h5 ©︎FURIMA, Inc
