.single-header
  = render partial: 'items/header'



.buy-container
  .buy-wrapper

    .buy-title
      %h2.buy-title__text
        購入内容の確認

    .buy-main

      .buy-item
        .buy-item__box.clearfix
          = image_tag "#{@item.item_images[0].image}", class:"buy-img"
      .buy-item__box__name
        =@item.name

      .buy-form
        %p.buy-form__price
          ￥
          =@item.price
          %span.buy-form__price--shipping 送料込み
          %span.buy-form__price--shipping 着払い
      

        .buy-form__payment
          .buy-form__payment__box.clearfix
            %p.buy-form__payment__box--head 支払い金額
            %p.buy-form__payment__box--content
              ￥
              =@item.price

        
          
        
          .buy-form__error
            %p.buy-form__error__message 配送先と支払い方法の入力を完了してください
          .buy-form__purchase
            = form_tag(action: :pay, method: :post) do
              %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_86b13e1bd8c0366d33309fc0"}

= render partial: 'items/footer'