.single-header
  = render partial: 'items/header'



.buy-container
  .buy-wrapper

    .buy-title
      %h2.buy-title__text
        購入内容の確認

    .buy-main

      .buy-item
        .buy-item__box.clearfix
          = image_tag "pict-reason-01.jpg" ,size: "60x60" ,class: "buy-item__box__image"
          %p.buy-item__box__name abc

      .buy-form

        %p.buy-form__price
          = "500円" 
          %span.buy-form__price--shipping 送料込み
          %span.buy-form__price--shipping 着払い
        .buy-form__point
          %p.buy-form__point__info ポイントはありません

        .buy-form__payment
          .buy-form__payment__box.clearfix
            %p.buy-form__payment__box--head 支払い金額
            %p.buy-form__payment__box--content
              = @item.price

        
          
        
          .buy-form__error
            %p.buy-form__error__message 配送先と支払い方法の入力を完了してください
          .buy-form__purchase
            = form_tag(action: :pay, method: :post) do
              %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_378e88ed9cda4191e63d764d"}
            

      
                
      
      


= render partial: 'items/footer'