.single-header
  = render partial: 'items/header'



.buy-container
  .buy-wrapper

    .buy-title
      %h2.buy-title__text
        購入内容の確認

    .buy-main
      .buy-item
        .buy-item__box.clearfix
          = image_tag "#{@item.item_images[0].image}", class:"buy-img"
    .buy-item__box__name 
      =@item.name
      .buy-form
        %p.buy-form__price
          ￥
          =@item.price 
          %span.buy-form__price--shipping 
          %span.buy-form__price--shipping 
            =@item.delivery_charge.name
        .buy-form__payment
          .buy-form__payment__box.clearfix
            %p.buy-form__payment__box--content
              支払い金額
              ￥
              = @item.price


        
          
        
          .buy-form__error
            %p.buy-form__error__message 配送先と支払い方法の入力を完了してください
          .buy-form__purchase
            = form_tag(action: :pay, method: :post) do
              %script.payjp-button{:src => "https://checkout.pay.jp", :type => "text/javascript" ,"data-text" => "購入する" ,"data-key" => "pk_test_378e88ed9cda4191e63d764d"}
           

      
                
      
      


= render partial: 'items/footer'