.category-main
  .category-main__category-title
    %h1.categ__title__jaru 
      ="#{@category.name}の商品一覧"
    -unless @pro.empty?
      .category-main__box
        -@pro.each do |item|
          =link_to item_path(item.id) do
            = image_tag "#{item.item_images[0].image}",class:"category-main__box__category-image"
          .category-main__box__name
            =item.name
          .category-main__box__price
            ￥
            =item.price
    - else
      .category-main__non
        ="#{@category.name}は現在出品されていません"
    .category-main__pagenation
      =paginate(@pro)
    .category-main__top
      =link_to "トップページに戻る",root_path ,data: {"turbolinks" => false} 


.category-footer
  = render partial: 'items/footer'