.sell-main
 .sell-main__sell-header
  = image_tag "logo.png" ,class: "sell-main__sell-logo"
 .sell-main__sell-form
  =form_for @item do |f|
   .sell-main__sell-form__sell-item-image
    = render 'layouts/error_messages', model: f.object
    =f.label :出品画像, class:"sell-main__sell-form__sell-label"
    =f.label :必須 ,class:"sell-main__sell-form__sell-label__need"
    %P{class:"sell-main__sell-form__sell-text"} 最大5枚までアップロードできます
   .sell-main__sell-form__sell-item-image__box
    .prev-content
     - @item.item_images.each do |image|
      .upper-box
       - if @item.persisted?
        = image_tag image.image.url, width: "112", height: "112", alt: "preview"
       
    .label-content
     = f.label :"images_attributes_#{@item.item_images.length}_image", class: "label-box",id:"item_images_attributes_0_image",id: "label-box--#{@item.item_images.length}" do
      %pre.label-box__text-visible クリックしてファイルをアップロード
    .hidden-content
     = f.fields_for :item_images do |i|
      = i.file_field :image, class: "hidden-field",id:"item_images_attributes_0_image"
    .hidden-content-1
     - @item.item_images.length.upto(4) do |i|
      %input{name: "item[item_images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}
       
        
   .sell-main__sell-form__sell-item-name
    =f.label :商品名, class:"sell-main__sell-form__sell-label" 
    =f.label :必須,  class:"sell-main__sell-form__sell-label__need" 
    = f.text_field :name,class: "sell-main__sell-form__sell-item-name__form"  
   .sell-main__sell-form__sell-item-explanation
    =f.label :商品の説明, class:"sell-main__sell-form__sell-label" 
    =f.label :必須, class:"sell-main__sell-form__sell-label__need" 
    =f.text_area :description ,placeholder: "商品の説明（必須 1000文字以内) (色、重さ、素材、定価、注意点等)" ,class: "sell-main__sell-form__sell-item-explanation__form" 
   .listing-product-detail__category
    %p{class:"listing-product-detail__category__detail"} 商品の詳細
    =f.label :カテゴリー, class:"sell-main__sell-form__sell-label"
    =f.label :必須, class:"sell-main__sell-form__sell-label__need"
    .listing-select-wrapper
     .listing-select-wrapper__box
      = f.collection_select :category_id, Category.where(ancestry: nil),:id, :name, {prompt: "---"},class: "listing-select-wrapper__box--select", id: 'parent_category'

   .sell-main__sell-form__sell-item-size
    =f.label :サイズ, class:"sell-main__sell-form__sell-label" 
    =f.label :必須,  class:"sell-main__sell-form__sell-label__need"
    = f.collection_select :size_id, Size.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-form__sell-item-size__form"
   .sell-main__sell-form__sell-item-brand
    = f.fields_for :brand do |brand|
     =f.label :ブランド ,class:"sell-main__sell-form__sell-label" 
     =f.label :任意, class:"sell-label__free"
     = brand.text_field :name, placeholder: "例）シャネル", value: "", class: "sell-main__sell-form__sell-item-brand__form"
   .sell-main__sell-form__status
    =f.label :商品の状態 ,class:"sell-main__sell-form__sell-label"
    =f.label :必須, class:"sell-main__sell-form__sell-label__need"
    = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-form__status__form"
   .sell-main__sell-form__delivery_charges
    =f.label :配送料の負担, class:"sell-main__sell-form__sell-label"
    =f.label :必須 ,class:"sell-main__sell-form__sell-label__need"
    = f.collection_select :delivery_charge_id, DeliveryCharge.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-form__delivery_charges__form"
   .sell-main__sell-form__delivery_ways
    =f.label :発送元の地域 ,class:"sell-main__sell-form__sell-label"
    =f.label :必須 ,class:"sell-main__sell-form__sell-label__need"
    = f.collection_select :delivery_way_id, DeliveryWay.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-form__delivery_ways__form"
   .sell-main__sell-form__delivery_date
    =f.label :発送までの日数, class:"sell-main__sell-form__sell-label"
    =f.label :必須, class:"sell-main__sell-form__sell-label__need"
    = f.collection_select :delivery_date_id, DeliveryDate.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-form__delivery_ways__form"
   .sell-main__sell-form__price
    .sell-main__sell-form__price__area
     価格（¥300〜9,999,999）
   .sell-main__sell-form__price__box
    =f.label :販売価格, class:"sell-main__sell-form__sell-label"
    =f.label :必須, class:"sell-main__sell-form__sell-label__need" 
    .sell-main__sell-form__price__box__holder
     ￥
     = f.number_field :price, min:300, max:9999999 , class: "sell-main__sell-form__price__box__form"
   .sell-main__sell-form__profit
   .sell-main__sell-form__submit
    =f.submit "出品する",class: "sell-main__sell-form__submit__form"
   .sell-main__sell-form__back
    =link_to root_path do
     %p もどる
   .sell-main__sell-form__rool
    %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、
    %br法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
.sell-main__sell-footer
 %ul 
 %li プライバシーポリシー
 %li FURIMA利用規約
 %li 特定商取引に関する表記
 = image_tag "logo-white.png" ,class: "sell-main__sell-footer__footer-logo"