.sell-main
 
 .sell-main__sell-header
  = image_tag "logo.png" ,class: "sell-main__sell-logo"
 .sell-main__sell-box
  .sell-main__sell-box__sell-item-image
   =form_for @item do |f|
    %label{class:"sell-main__sell-box__sell-label"} 出品画像
    %label{class:"sell-main__sell-box__sell-label__need"} 必須
    %P{class:"sell-main__sell-box__sell-text"} 最大10枚までアップロードできます
   .sell-main__sell-box__sell-item-image__box
    =form_for @item do |f|
     =f.label :ドラッグアンドドロップまたはクリックしてファイルをアップロード , class: "sell-main__sell-box__sell-item-image__sell-image-label" do
      = f.fields_for :item_images do |i|
       =i.file_field :image ,class: "sell-item-image" 
  .sell-main__sell-box__sell-item-name
   =form_for @item do |f|
    =f.label :商品名, class:"sell-main__sell-box__sell-label" 
    =f.label :必須,  class:"sell-main__sell-box__sell-label__need" 
    = f.text_field :name,class: "sell-main__sell-box__sell-item-name__form"  
  .sell-main__sell-box__sell-item-explanation
   =form_for @item do |f|
    =f.label :商品の説明, class:"sell-main__sell-box__sell-label" 
    =f.label :必須, class:"sell-main__sell-box__sell-label__need" 
    =f.text_field :description ,placeholder: "商品の説明（必須 1000文字以内) (色、重さ、素材、定価、注意点等)" ,class: "sell-main__sell-box__sell-item-explanation__form" 
  .sell-main__sell-box__sell-item-category
   %p{class:"sell-main__sell-box__sell-item-category__detail"} 商品の詳細
   %label{class:"sell-main__sell-box__sell-label"} カテゴリー
   %label{class:"sell-main__sell-box__sell-label__need"} 必須
   %input{value: "選択して下さい",type: "text" ,class: "sell-main__sell-box__sell-item-category__first"}
   %input{value: "選択して下さい", type:"text" ,class: "sell-main__sell-box__sell-item-category__second"}
   %input{value: "選択して下さい", type: "text" ,class: "sell-main__sell-box__sell-item-category__third"}
  .sell-main__sell-box__sell-item-size
   =form_for @item do |f|
    =f.label :サイズ, class:"sell-main__sell-box__sell-label" 
    =f.label :必須,  class:"sell-main__sell-box__sell-label__need"
    = f.collection_select :size_id, Size.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-box__sell-item-size__form"
  .sell-main__sell-box__sell-item-brand
   =form_for @item do |f|
    =f.label :ブランド ,class:"sell-main__sell-box__sell-label" 
    =f.label :任意, class:"sell-label__free"
    =f.text_field :brand , placeholder:"例) ナイキ", class: "sell-main__sell-box__sell-item-brand__form"
  .sell-main__sell-box__status
   =form_for @item do |f|
    =f.label :商品の状態 ,class:"sell-main__sell-box__sell-label"
    =f.label :必須, class:"sell-main__sell-box__sell-label__need"
    = f.collection_select :condition_id, Condition.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-box__status__form"
  .sell-main__sell-box__delivery_charges
   =form_for @item do |f|
    =f.label :配送料の負担, class:"sell-main__sell-box__sell-label"
    =f.label :必須 ,class:"sell-main__sell-box__sell-label__need"
    = f.collection_select :delivery_charge_id, DeliveryCharge.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-box__delivery_charges__form"
  .sell-main__sell-box__delivery_ways
   =form_for @item do |f|
    =f.label :発送元の地域 ,class:"sell-main__sell-box__sell-label"
    =f.label :必須 ,class:"sell-main__sell-box__sell-label__need"
    = f.collection_select :delivery_way_id, DeliveryWay.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-box__delivery_ways__form"
  .sell-main__sell-box__delivery_date
   =form_for @item do |f|
    =f.label :発送までの日数, class:"sell-main__sell-box__sell-label"
    =f.label :必須, class:"sell-main__sell-box__sell-label__need"
    = f.collection_select :delivery_date_id, DeliveryDate.all, :id, :name, {prompt: "選択してください"},class: "sell-main__sell-box__delivery_ways__form"
  .sell-main__sell-box__price
   .sell-main__sell-box__price__area
    価格（¥300〜9,999,999）
   .sell-main__sell-box__price__box
    =form_for @item do |f|
     =f.label:販売価格, class:"sell-main__sell-box__sell-label"
     =f.label:必須, class:"sell-main__sell-box__sell-label__need" 
     .sell-main__sell-box__price__box__holder
      ￥
      = f.number_field :price, min:300, max:9999999 , class: "sell-main__sell-box__price__box__form"
  .sell-main__sell-box__profit
   .sell-main__sell-box__profit__sell
    販売利益
    =form_for @item do |f|
     = f.number_field :profit,class: "sell-main__sell-box__profit__form"
  .sell-main__sell-box__submit
   =form_for @item do |f|
    =f.submit "出品する",class: "sell-main__sell-box__submit__form"
  .sell-main__sell-box__back
   =link_to root_path do
    %p もどる
  .sell-main__sell-box__rool
   %p 禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、
   %br法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。
.sell-main__sell-footer
 %ul 
 %li プライバシーポリシー
 %li FURIMA利用規約
 %li 特定商取引に関する表記
 = image_tag "logo-white.png" ,class: "sell-main__sell-footer__footer-logo"